@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<!-- Agregar el CSS específico -->
<link rel="stylesheet" href="css/mainlayout.css" />

<PageTitle>MovieBox</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        // Tu lógica de logout aquí
        NavigationManager.NavigateTo("/", true);
    }
}